<?xml version="1.0"?>
<beans xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://jboss.org/schema/cdi/beans_1_0.xsd" >

	<!-- Keep the order of the interceptors -->
	<interceptors>
		<class>com.ericsson.nms.dmt.rest.error.ExceptionHandler</class>
		<class>com.ericsson.nms.dmt.rest.error.ExceptionWrapper</class>
	</interceptors>
</beans>
